.break-word {
  word-wrap: break-word;
}

pre {
  white-space: pre-wrap !important;
  word-break: break-word !important;
}

minidenticon-svg {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid hsl(0, 0%, 71%);
}

minidenticon-svg svg {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
